@font-face {
  font-family: "friz";
  src: url("https://assets.codepen.io/13471/friz_quadrata_regular-webfont.eot");
  src: url("https://assets.codepen.io/13471/friz_quadrata_regular-webfont.eot?#iefix") format("embedded-opentype"), url("https://assets.codepen.io/13471/friz_quadrata_regular-webfont.woff") format("woff"), url("https://assets.codepen.io/13471/friz_quadrata_regular-webfont.ttf") format("truetype"), url("https://assets.codepen.io/13471/friz_quadrata_regular-webfont.svg#friz_quadrataregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "friz", serif;
  background: #1e1e1e;
  color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(https://wow.zamimg.com/uploads/screenshots/normal/1059910.jpg) no-repeat center center fixed;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

.container {
  background: #2e2e2e;
  padding: 1.875rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 100%;
  border-style: solid;
  border-width: 5px;
  border-image: url(https://assets.codepen.io/13471/wow-tooltip-border-2.png) 5 repeat;
  border-radius: 4px;
  background-color: rgba(5, 10, 31, 0.85);
}

h1 {
  margin: 0;
  /* text-transform: uppercase; */
  color: #ff8000;
}

h2 {
  color: #ffd100;
  margin-top: 10px;
  margin-bottom: 32px;
  font-size: 1rem;
  font-weight: 400;
}

h3 {
  color: #bbbbbb;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: normal;
}

h4 {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #bbbbbb;
}

.input-row {
  display: flex;
  gap: 0.5rem;
}

.input-group {
  flex: 1;
}

input[type=number] {
  width: 100%;
  padding: 1rem;
  background-color: rgba(5, 10, 31, 0.85);
  color: #fff;
  border: 1px solid #666;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 2rem;
  -moz-appearance: textfield;
}
input[type=number]:focus {
  outline: 1px solid #fff;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=radio] {
  margin-right: 0.5rem;
}

.radio-group {
  color: #bbbbbb;
}

.radio-group span.white {
  color: white;
}

.radio-group span.green {
  color: #1eff00;
}

.radio-group span.blue {
  color: #0070dd;
}

.radio-group span.purple {
  color: #a335ee;
}

button {
  font-family: "friz", serif;
  margin-top: 32px;
  padding: 1.25rem;
  background-color: rgba(5, 10, 31, 0.85);
  color: #fff;
  border: 1px solid #666;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 1.2rem;
  font-weight: normal;
}

button:hover {
  border: 1px solid #fff;
}

.result {
  /* margin-top: 0.5rem; */
  font-weight: bold;
  color: #ffd100;
  font-size: 2rem;
  text-align: center;
}

.radio-group {
  margin-bottom: 2rem;
}